.benefits {
  margin: 100px 0;
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-desktop {
      grid-template-columns: repeat(1, 1fr);
      flex-direction: column;
    }
  }

  &__item {
    @include for-desktop {
      margin-bottom: 50px;
    }
  }
  &__title {
    font-size: 48px;
    line-height: 55px;
    max-width: 335px;
    margin-bottom: 15px;

    @include mobile {
      font-size: 45px;
      line-height: 50px;
    }
  }
  &__text {
    margin: 0;
    font-size: 28px;
    line-height: 40px;
    color: var(--text-color);
    max-width: 532px;
    margin-bottom: 60px;
    @include small-tablet {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 40px;
    }

    @include mobile {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__button {
    font-weight: 700;
  }
}
