.header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  @include big-desktop {
    background-position-x: center;
  }
  &__inner {
    @include flex-all-sb;
    padding-top: 60px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    @include mini-desktop {
      margin-top: 83px;
      text-align: left;
      align-items: flex-start;
    }

    @include mobile {
      text-align: center;
      align-items: center;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    color: var(--light-color);
    margin: 0;
    max-width: 672px;
    text-align: center;
    margin-bottom: 17px;
    @include for-desktop {
      font-size: 60px;
      line-height: 75px;
    }

    @include mini-desktop {
      text-align: left;
      font-weight: 300;
    }

    @include mobile {
      font-size: 55px;
      line-height: 70px;
      text-align: center;
    }

    @include mini-mobile {
      font-size: 40px;
      line-height: 60px;
    }
  }
  &__subtitle {
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    margin: 0;
    color: var(--light-color);
    max-width: 766px;
    text-align: center;
    margin-bottom: 76px;
    @include for-desktop {
      font-size: 22px;
    }
    @include mini-desktop {
      text-align: left;
    }

    @include mobile {
      margin-bottom: 40px;
      text-align: center;
    }

    @include mini-mobile {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .mobile-menu-btn {
    position: relative;
    z-index: 200;
    display: none;
    visibility: hidden;
    @include mini-desktop {
      display: block;
      visibility: visible;
    }
  }
}

.button {
  padding: 16px 62px;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 35px;
}

.nav {
  @include mini-desktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y: auto;
    background-color: burlywood;
    transition: 0.3s ease-in-out;
  }
  &__list {
    @include flex;
    @include mini-desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
  &__link {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: var(--light-color);
    margin-right: 31px;
    @include mini-desktop {
      margin-right: 0;
    }
  }

  .last-child {
    margin-right: 0;
  }
}

.social {
  @include mini-desktop {
    display: none;
  }
  &__link {
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      svg {
        fill: var(--accent-color);
      }
    }
    svg {
      transition: fill 0.3s ease-in-out;
      fill: var(--light-color);
      width: 34px;
      height: 34px;
    }
  }
}
