<section class="benefits-1">
  <div class="container">
    <div class="benefits-1__inner">
      <div class="benefits-1__img">
        <img src="img/benefits-1.png" alt="section image" />
      </div>
      <div class="benefits-1__item">
        <h3 class="benefits-1__subtitle">At your fingertips</h3>
        <h1 class="title benefits-1__title">Lightning fast prototyping</h1>
        <h3 class="benefits-1__subtitle">Subscribe to our Newsletter</h3>
        <p class="benefits-1__text">Available exclusivery on Figmaland</p>
        <form class="benefits-1__form">
          <input
            type="email"
            class="benefits-1__form-input"
            placeholder="Your Email"
          />
          <button class="btn-reset button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
