<section class="contact">
  <div class="container">
    <div class="contact__inner">
      <h1 class="title contact__title">Contact Us</h1>
      <p class="contact__text">
        Most calendars are designed for teams. Slate is designed for freelancers
      </p>
    </div>
    <div class="contact__box">
      <div class="contact__form-wrapper">
        <form class="contact__form">
          <h3 class="contact__form-title">Contact Us</h3>
          <input
            type="text"
            class="contact__form-input"
            placeholder="Your Name"
          />
          <input
            type="email"
            class="contact__form-input"
            placeholder="Your Email"
          />
          <textarea
            class="contact__form-area"
            placeholder="Your Message"
          ></textarea>
          <button class="btn-reset button contact__form-button" type="submit">
            Send
          </button>
        </form>
      </div>
      <div class="contact__box-info">
        <div class="contact__box-items">
          <div class="contact__box-item">
            <img
              src="img/location.svg"
              alt="location"
              class="contact__box-item__img"
            />
            <p class="contact__box-item__text">
              6386 Spring St undefined Anchorage, Georgia 12473 United States
            </p>
          </div>
          <div class="contact__box-item">
            <img
              src="img/phone.svg"
              alt="phone"
              class="contact__box-item__img"
            />
            <p class="contact__box-item__text">(843) 555-0130</p>
          </div>
          <div class="contact__box-item">
            <img src="img/mail.svg" alt="mail" class="contact__box-item__img" />
            <p class="contact__box-item__text">willie.jennings@example.com</p>
          </div>
        </div>
        <div class="contact__box-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d59996.84720785684!2d30.469712005567573!3d50.4765597142234!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1649584685385!5m2!1sru!2sua"
            width="516"
            height="323"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <ul class="contact__box-social list-reset">
          <li class="contact__box-social__item">
            <a href="#" class="contact__box-social__link">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="contact__box-social__item">
            <a href="#" class="contact__box-social__link">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="contact__box-social__item">
            <a href="#" class="contact__box-social__link">
              <svg>
                <use xlink:href="img/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
