<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <ul class="footer__list list-reset">
        <li class="footer__list-item">
          <h2 class="footer__list-title">Pages</h2>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Home</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Product</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Pricing</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">About</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Contact</a>
        </li>
      </ul>
      <ul class="footer__list list-reset">
        <li class="footer__list-item">
          <h2 class="footer__list-title">Tomothy</h2>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Eleanor Edwards</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Ted Robertson</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Annette Russell</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Jennie Mckinney</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Gloria Richards</a>
        </li>
      </ul>

      <ul class="footer__list list-reset">
        <li class="footer__list-item">
          <h2 class="footer__list-title">Jane Black</h2>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Philip Jones</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Product</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Colleen Russell</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Marvin Hawkins</a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">Bruce Simmmons</a>
        </li>
      </ul>

      <div class="footer__info">
        <a href="#" class="footer__info-link"
          >7480 Mockingbird Hill undefined</a
        >
        <a href="tel:2395550108" class="footer__info-link">(239) 555-0108</a>
        <div class="footer__social">
          <a href="#" class="footer__social-link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" class="footer__social-link">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a href="#" class="footer__social-link">
            <svg>
              <use xlink:href="img/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
