<header class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Product</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link last-child">Contact</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="logo">
        <img src="img/logo.svg" alt="Logotype" />
      </a>
      <div class="social">
        <a href="#" class="social__link">
          <svg class="social__link-twitter">
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
        <a href="#" class="social__link">
          <svg class="social__link-facebook">
            <use xlink:href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
        <a href="#" class="social__link">
          <svg class="social__link-linkedin">
            <use xlink:href="img/sprite.svg#linkedin"></use>
          </svg>
        </a>
      </div>
      <button class="btn-reset mobile-menu-btn">
        <img
          class="mobile-menu__img"
          src="img/mobile-menu-btn.svg"
          alt="mobile menu button"
        />
      </button>
    </div>
    <div class="header__content">
      <h1 class="header__title">The best products start with Figma</h1>
      <h3 class="header__subtitle">
        Most calendars are designed for teams. Slate is designed for freelancers
      </h3>
      <a class="button btn-reset">Try For Free</a>
    </div>
  </div>
</header>
