<section class="pricing">
  <div class="container">
    <div class="pricing__inner">
      <h1 class="title pricing__title">Pricing</h1>
      <p class="pricing__text">
        Most calendars are designed for teams. Slate is designed for freelancers
      </p>
    </div>
    <div class="pricing__items">
      <div class="pricing__item">
        <h3 class="pricing__item-title">FREE</h3>
        <p class="pricing__item-text">Organize across all apps by hand</p>
        <h3 class="pricing__item-price">
          0<span>$</span>
          <span>Per Month</span>
        </h3>
        <div class="pricing__item-box">
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
        </div>
        <button class="btn-reset button pricing__button">Order Now</button>
      </div>
      <div class="pricing__item">
        <h3 class="pricing__item-title">STANDARD</h3>
        <p class="pricing__item-text">Organize across all apps by hand</p>
        <h3 class="pricing__item-price">
          10<span>$</span>
          <span>Per Month</span>
        </h3>
        <div class="pricing__item-box">
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
        </div>
        <button class="btn-reset button pricing__button">Order Now</button>
      </div>
      <div class="pricing__item">
        <h3 class="pricing__item-title">BUSINESS</h3>
        <p class="pricing__item-text">Organize across all apps by hand</p>
        <h3 class="pricing__item-price">
          99<span>$</span>
          <span>Per Month</span>
        </h3>
        <div class="pricing__item-box">
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
          <p class="pricing__item__box-text">Pricing Feature</p>
        </div>
        <button class="btn-reset button pricing__button">Order Now</button>
      </div>
    </div>
  </div>
</section>
