<section class="testimonials">
  <div class="container">
    <div class="testimonials__inner">
      <h1 class="title testimonials__title">Testimonials</h1>
      <img src="img/imb.png" alt="ibm" class="testimonials__image" />
      <p class="testimonials__text">
        Most calendars are designed for teams. Slate is designed for freelancers
        who want a simple way to plan their schedule.
      </p>
      <div class="testimonials__person">
        <div class="testimonials-person-img-wrapper">
          <img
            class="testimonials__person-img"
            src="img/person-avatar.png"
            alt="person"
          />
        </div>
        <div class="person__text-box">
          <p class="person__text">Organize across</p>
          <p class="person__text person__text--small">Ui designer</p>
        </div>
      </div>
      <button class="testimonials__button btn-reset button">
        More Testimonials
      </button>
    </div>
  </div>
</section>
