// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Graphik", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --accent-color: #2091f9;
  --title-color: #252b42;
  --text-color: #374754;
  --dark-background: #252b42;
}
